*{
	margin:0;
	padding:0;
}
.a{
	width:45px;
	height:100%;
	background-color:gray;
	overflow-y:hidden;
}
.b{
width:30px;
height:500px;
background-color:green;
margin:0px auto;
}
.c{
	margin-top: 0px;
}
.c,.d{
	display:none;
width:45px;
height:17px;background-color: yellow;cursor: pointer;
}
.c:hover,.d:hover{
	border:1px solid blue;
}
